<div>
    <h1>Recipe Name</h1>
    <div>
        <button class="dropdown-toggle">Manage Recipe <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="#">Shopping list</a></li>
            <li><a href="#">Edit Recipe</a></li>
            <li><a href="#">Delete Recipe</a></li>
        </ul>
    </div>
    <div>description</div>
</div>
<hr>
<br>
<br>
<br>
<br>
<hr>

<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <label>First name:</label><br>
    <input type="text" name="fname" ngModel><br>
    <label>Last name:</label><br>
    <input type="text" name="lname" ngModel><br>
    <label>Email</label><br>
    <input type="email" name="email" required email ngModel>
    <br><br>
    <input type="submit" value="Submit">
</form> 
