<div>
    <h1>{{recipe.name}}</h1>
    <img [src]="recipe.imagePath" alt="recipe.name" style="height: 200px;width: 200px;">
    <h3>{{recipe.description}}</h3>


    <ul style="list-style-type:none;">
        <li><a >Shopping list</a></li>
        <li><a (click)="OnclickEdit()">Edit Recipe</a></li>
        <li><a >Delete Recipe</a></li>
    </ul>

      <!--

          <div  class="btn-group open" >
              <button class="btn btn-primary dropdown-toggle" type="button"  >Manage Recipe <span class="caret"></span></button>
              <ul class="dropdown-menu">
                  <li><a href="#">Shopping list</a></li>
                  <li><a href="#">Edit Recipe</a></li>
                  <li><a href="#">Delete Recipe</a></li>
              </ul>
          </div>
      -->

      
    <div>description</div>
</div>
<hr>
<br>
<br>
<!--
    <div class="dropdown" appDropDown>
        <button class="btn btn-primary dropdown-toggle"  type="button" data-toggle="dropdown">Dropdown Example
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">HTML</a></li>
          <li><a href="#">CSS</a></li>
          <li><a href="#">JavaScript</a></li>
        </ul>
      </div>

-->

<br>
<br>
<hr>

<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <label>First name:</label><br>
    <input type="text" name="fname" ngModel><br>
    <label>Last name:</label><br>
    <input type="text" name="lname" ngModel><br>
    <label>Email</label><br>
    <input type="email" name="email" required email ngModel>
    <br><br>
    <input type="submit" value="Submit">
</form> 
