<!--
    <app-header></app-header>
    
-->
<hr>
<button (click)="OnclickRecipe()">Recipe</button>
<hr>
<table>
    <tr>
        <td style="width:75px;margin-right: 20px;">Incredients name</td>
        <td style="width:75px;text-align: right;">Incredients Amount</td>
    </tr>
</table>
<a *ngFor="let ingredient of ingredients">
    <table>
        <tr>
                <td style="width:75px;">{{ingredient.name}}</td>
                <td style="width:75px; text-align: right;">{{ingredient.amount}}</td>
        </tr>

    </table>
</a>

<hr>
<hr>
<app-shopping-edit (ingredientsAdded)="onAdded($event)"></app-shopping-edit>


