.table_cls{
    width: 100vw;
}
.recipe_list_detail1{
    text-align: center;
    border-color: black;
    border:solid;
    padding: 3%;
    margin: 5%;
    width: 47vw;
}
.recipe_list_detail2{
    text-align: center;
    border-color: black;
    border:solid;
    padding: 3%;
    margin: 5%;;
    width: 47vw;
}